search:
  hierarchy: false
  placeholder: "Search BG, BU, Entity"
name: "report"
entityName: "{{ Entity_name }}"
entityGroup: "{{ BU }}"
execsumNote: "@CashStory</br>Financial Reporting Assistant"
background:
  assetName: "bg-1"
  overlay: false
date:
  query:
    domain: "scenarios"
  showInHeader: true
  type: "dropdown"
  id: "SCENARIOS"
  completeObjectMode:true
  fields: [
    "CURRENT"
  ]
id: "{{ index }}"